@media (max-width: 320px) {
  .slof {
    margin-top: 60px;
    align-items: center;
  }
}
.thirdSection1 {
  padding-top: 78px;
}
.slof-b {
  height: 2.5rem;
  font-weight: 600;
  width: 15rem;
  font-size: 16px;
  height: auto;
  padding: 12px;
  width: 335px;

  margin-top: 2rem;
  border-radius: 0.75rem;
  background-color: #007bff;
  align-items: center;
  color: white;
}
.thirdSection {
  align-items: center;
  height: min-content;
  background-color: white;
  /* ding-top pad: 4rem 64px; */
  padding-bottom: 167px /* 64px */;
  .thirdsection-content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 86px;
    padding-left: 96px;
    /* align-items: center; */
    flex-direction: column;
  }
  .thirdSection-fc {
    display: flex;
    /* gap: 96px; */
    width: 95%;
    justify-content: space-between;
    /* align-items: center; */
  }
}
.sT {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 100%;
  height: max-content;
  margin-bottom: 2.5rem;
}
.option {
  display: flex;
  height: max-content;

  flex-direction: column;
  .option-head1,
  .option-head2 {
    /* 36px */
    font-weight: 700;
    color: #080e14;
    white-space: nowrap;

    word-wrap: break-word;
    text-transform: lowercase;
  }
  .option-head2 {
    color: #007bff;
    margin-bottom: 32px;
  }
  .option-info {
    /* 28px */
    color: #080e14;
    font-weight: 400;
    color: #52565b;

    font-weight: 400;
    text-transform: lowercase;
    margin-bottom: 32px;

    word-wrap: break-word;
    width: 493px;
  }
}
@media (max-width: 786px) {
  .thirdsection-content {
    margin-left: 20px;
    /* margin-top: 2rem; */
  }
  .slof {
    justify-content: center;
    .slof-b {
      width: 20rem;
      margin-top: 0px;
    }
  }
  .thirdSection-fc {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .option-info {
    width: auto !important;
  }
  .sT {
    overflow-x: auto;
    width: 100%;
  }
}

@media (min-width: 786px) {
  .thirdsection-content {
    align-items: flex-start;
    width: 50%;
  }
}
img,
video {
  max-width: initial;
  height: initial;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .option {
  }
  .thirdSection {
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .option-head1,
  .option-head2 {
    font-size: 32px;
    line-height: 38px;
  }
  .option-info {
    width: auto !important;
    font-size: 14px;

    line-height: 21px;
  }
  .thirdsection-content {
    align-items: center !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 576px) {
  .option-head1,
  .option-head2 {
    line-height: 60px;
    font-size: 48px;
  }
  .option-info {
    width: auto !important;
    font-size: 18px;
    line-height: 1.75rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .option-head1,
  .option-head2 {
    line-height: 60px;
    font-size: 48px;
  }
  .option-info {
    width: auto !important;
    font-size: 18px;
    line-height: 1.75rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .option-head1,
  .option-head2 {
    line-height: 44px;
    font-size: 40px;
  }
  .option-info {
    width: auto !important;
    font-size: 16px;

    line-height: 21px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .option-head1,
  .option-head2 {
    line-height: 60px;
    font-size: 48px;

    white-space: nowrap;
  }
  .option-info {
    width: auto !important;
    font-size: 18px;
    line-height: 1.75rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .option-head1,
  .option-head2 {
    line-height: 60px;
    font-size: 48px;
    white-space: nowrap;
  }
  .option-info {
    font-size: 18px;
    line-height: 1.75rem;
  }
}
@media (min-width: 1400px) {
  .option-head1,
  .option-head2 {
    line-height: 60px;
    font-size: 48px;
    white-space: nowrap;
  }
  .option-info {
    font-size: 18px;
    line-height: 1.75rem;
  }
}
.tabsContainer {
  display: flex;
  position: relative;
  background-color: white;
  padding-top: 10px;
  gap: 32px;
  align-items: center;
  color: #080e14;
  font-size: 16px;
  font-weight: 600;
  text-transform: lowercase;
  line-height: 24px;
}

.tabItem {
  padding: 5px 12px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tabItem.active {
  color: #007bff;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #007bff;
  transition: left 0.3s ease, width 0.3s ease;
}
