.sch-wrapper {
    background: #F1F2F6;
}
.sch-main {
    display: grid;
    overflow: hidden; 
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-top: 2rem; 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    background: #00364E;
    color: #CECFD0;
}
.sch-img {
    display: flex; 
    position: relative; 
    padding: 0.5rem; 
    padding-bottom: 0; 
    flex-direction: column; 
    order: 9999; 
    justify-content: flex-end; 
    align-items: center; 
}
.sch-cap {
    z-index: 10; 
    margin-bottom: -2rem; 
    width: 5rem;
}
.sch-girl {
    position: static; 
    z-index: 10; 
    width: 355px;
    aspect-ratio: 13/10;
}
.sch-btn-1-wrapper {
    z-index: 10; 
    margin-bottom: 1.5rem; 
    align-self: stretch; 
}
.sch-lvl-1 {
    display: flex; 
    position: absolute; 
    flex-direction: column; 
    justify-content: flex-end; 
    height: 100%; 
}
.sch-lvl-2 {
    overflow: hidden; 
    height: 15rem;
    margin-left: -30%;
}
.sch-lvl-3 {
    aspect-ratio: 1 / 1; 
    border-radius: 9999px; 
    background: #004463;
    width: 25rem;
}
.sch-text {
    display: flex; 
    padding: 0; 
    flex-direction: column; 
    gap: 1rem; 
}
.sch-title {
    font-size: 2.25rem;
    line-height: 2.5rem; 
    font-weight: 700; 
    color: #ffffff; 
}
.sch-high {
    color: #FCDE5A;
}
.sch-high-2 {
    font-weight: 700; 
    color: #ffffff; 
}
.sch-btn-2-wrapper {
    display: none; 
    margin-top: 0.5rem; 
}

@media (min-width: 1024px) {
    .sch-wrapper {
        margin-bottom: -6rem; 
    }
    .sch-main {
        overflow: visible; 
        padding-left: 2.5rem;
        padding-right: 2.5rem; 
        padding-top: 0; 
        margin-left: 5rem;
        margin-right: 5rem; 
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        border-radius: 1rem; 
        transform: translateY(-50%);
    }
    .sch-img {
        padding: 1rem; 
        padding-bottom: 0; 
        order: 0; 
    }
    .sch-cap {
        display: none; 
        width: 7.5rem;
    }
    .sch-girl {
        position: absolute; 
        width: 600px;
    }
    .sch-btn-1-wrapper {
        display: none; 
    }
    .sch-lvl-1 {
        display: none; 
    }
    .sch-lvl-2{
        margin-left: 0;
    }
    .sch-lvl-3 {
        width: 40rem;
    }
    .sch-text {
        padding: 2.5rem; 
        gap: 2rem; 
    }
    .sch-title{
        font-size: 3rem;
        line-height: 1; 
    }
    .sch-desc {
        font-size: 1.25rem;
        line-height: 1.75rem; 
    }
    .sch-btn-2-wrapper {
        display: block; 
    }
}