
.login_popup.modal .modal-lg  {
    width: 1000px !important;
    max-width: 1100px !important;
}
.login_popup.modal .modal-header {
    border: none !important;
}
/* .login_body{
    max-height: 450px;
    overflow-y: auto;

}
.login_body::-webkit-scrollbar {
    width: 5px;
    display: none;
  } */
  .login_popup.modal .modal-header .btn-close {
    opacity: 1 !important;
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat !important;
}
.side_image{
    width: 100%;
    height: 100%;
}
.right_box {
    margin-left: 50px;
    margin-right: 50px;
}
.otp_heading {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 900;
    text-transform: lowercase;
    color: #080E14;
}


.otp_mob_input label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    color: #080E14;

}

.otp_button_row {
    padding: 30px;
    text-align: center;
    margin-top: 100px;
}

.otp_button {
    width: 100%;
    color: aliceblue;
    background: #007BFF;
    box-shadow: 0px 7px 7px 0px #007BFF1F;
    border-radius: 12px;
    padding: 12px;
}
.otp_button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
.otp_mobile_input {
    display: flex;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #9C9FA1, #9C9FA1);
    border: 1px solid #9C9FA1;
    border-radius: 12px;
    padding: 0px 10px 0px 0px;
}
.name_input{
    display: flex;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #9C9FA1, #9C9FA1);
    border: 1px solid #9C9FA1;
    border-radius: 12px;
    padding: 0px 10px 0px 10px;
}

.resend_otp_row {
    margin-top: 20px;
}

.otp_flex {
    display: flex;
    justify-content: center;
}

.resend_otp_text {
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
}

.success_Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.success_heading {
    padding: 10px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    text-transform: lowercase;
    color: #080E14;
    text-align: center;
}

.class_lable {
    font-weight: 400;
    font-size: 18px;
    color: #080E14;
    margin-bottom: 10px;
}

.select_exam_row {
    padding: 0px 10px 0px 30px;
    ;
}
.exam_change_flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: #F1F2F6;
    padding: 12px 20px 12px 20px;
    border-radius: 12px;
    margin-bottom: 30px;
}
.exam_change_btn{
    color: #007BFF;
    text-decoration: underline;
}
.exam_change_class{
    font-size: 20px;
    font-weight: 700;
    color: #080E14;
}
.otp_border_blue {
    border: 1px solid #007BFF !important;
}

.otp_border_error {
    border: 1px solid #ED4337 !important;
}

.opacity_off {
    opacity: 0 !important;
}

.otp_time {
    color: #080E14;
    font-weight: 600;
    font-size: 16px;
    margin-left: 3px;
}

.term_flex {
    display: flex;
    align-items: baseline;
}

.term_label {
    font-weight: 600;
    font-size: 10px;
    color: #3A3A3A;
    margin-left: 5px;
    text-transform: lowercase;
}

.term_label_flex {
    display: flex;
}

/* Mob show btn start*/
.marketpr_show {
    display: none;
}

.feslofrbottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 222;
}

.pac_festpr_flexshow {
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 20px 0px #9AA0D34D;
    text-align: center;
    padding: 15px;
}

.pac_festpr_mobshwbtn {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: 1.5px solid #3378FD;
    margin-bottom: 0;
    padding: 15px 10px;
    width: 100%;
    background: #3378FD;
    border-radius: 6px;
}
/* Mob show btn  end*/
.exam_card_head {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.exam_card_dec {
    font-weight: 400;
    font-size: 12px;
    color: #080E14;
}

.exam_card_active {
    border: 1px solid #06AA2F;
    background: #D6F4DE;
}
.exam_card_active_tick{
    background: #06AA2F;
}
.button_mobile_none{
    display: block !important;
    /* position: absolute;
    bottom: 0;
    width: 50%; */
}
.select_grade_box {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(5,1fr);
}
.select_grade{
    border-radius: 16px;
    border: 1px solid #9C9FA1;
    padding: 6px 15px 6px 15px;
    font-size: 16px;
    gap: 10px;
    font-weight: 600;
    color: #080E14;
}
.select_grade.active {
    background: #D6F4DE;
    border: 1px solid #06AA2F !important;
    color: #080E14 !important;
}
.term_condition {
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .login_popup.modal .modal-lg  {
        width: 100% !important;
        max-width: 100% !important;
    }
    .login_popup.modal .modal-body{
        padding: 0px;
    }
    .right_box {
        margin-left: 30px;
        margin-right: 30px;
    }
    .login_popup.modal .modal-dialog {
        transform: none;
        margin: 0px;
        margin-left: auto;
        height: 100%;
        align-items: stretch !important;
        border: none;
    }

    .login_popup.modal .modal-content {
        border: none !important;
        overflow: auto;
        border-radius: 0px !important;
    }

    .otp_heading {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 30px;
    }

    .otp_mob_input {
        padding: 0px;
    }

    .otp_button_row {
        margin-top: 0px;
    }

    .text-black {
        padding: 0px;
    }

    .gap-28 {
        gap: 5rem;
    }

    .gap-4 {
        gap: 1rem;
    }

    .w-20 {
        width: 4rem;
    }
    .select_grade_box {
        grid-template-columns: repeat(4,1fr);
    }
    .select_grade{
        padding: 8px 0px 6px 0px;
        border-radius: 12px;
        width: 60px;
        height: 60px;
    }
    .select_grade.active {
        background: #E6F2FF;
        border: 1px solid #007BFF !important;
        color: #080E14 !important;
    }
    .select_exam_row {
        padding: 0px;
        margin-bottom: 100px;
    }

    .success_Icon {
        margin-top: 50px;
    }

    .button_mobile_none {
        display: none !important;
    }

    .marketpr_show {
        display: block;
    }

    .exam_card_active {
        border: 2px solid #007BFF;
        background: #E6F2FF;
    }
    .exam_card_active_tick{
        background: #007BFF;
    }
    .exam_change_flex{
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .exam_change_class {
        font-size: 16px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 576px) {
    .login_popup.modal .modal-lg  {
        width: 100% !important;
        max-width: 100% !important;
    }
    .login_popup.modal .modal-body{
        padding: 0px;
    }
    .right_box {
        margin-left: 30px;
        margin-right: 30px;
    }
    .login_popup.modal .modal-dialog {
        transform: none;
        margin: 0px;
        margin-left: auto;
        height: 100%;
        align-items: stretch !important;
        border: none;
    }

    .login_popup.modal .modal-content {
        border: none !important;
        overflow: auto;
        border-radius: 0px !important;
    }
    
    .otp_heading {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 30px;
    }

    .otp_mob_input {
        padding: 0px;
    }

    .otp_button_row {
        margin-top: 0px;
    }

    .text-black {
        padding: 0px;
    }

    .gap-28 {
        gap: 5rem;
    }

    .gap-4 {
        gap: 1rem;
    }

    .w-20 {
        width: 4rem;
    }
    .select_grade_box {
        gap: 18px;
        grid-template-columns: repeat(4,1fr);
    }
    .select_grade{
        padding: 8px 0px 6px 0px;
        border-radius: 12px;
        width: 60px;
        height: 60px;
    }
    .select_grade.active {
        background: #E6F2FF;
        border: 1px solid #007BFF !important;
        color: #080E14 !important;
    }
    .select_exam_row {
        padding: 0px;
        margin-bottom: 100px;
    }

    .success_Icon {
        margin-top: 50px;
    }

    .button_mobile_none {
        display: none !important;
    }

    .marketpr_show {
        display: block;
    }

    .exam_card_active {
        border: 2px solid #007BFF;
        background: #E6F2FF;
    }
    .exam_card_active_tick{
        background: #007BFF;
    }
    .exam_change_flex{
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .exam_change_class {
        font-size: 16px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 766px) {
    .login_popup.modal .modal-lg {
        margin: 0px auto !important;
        width: 60% !important;
        max-width: 60% !important;
    }
    .right_box {
        margin-left: 30px;
        margin-right: 30px;
    }
    .button_mobile_none{
        display: block !important;
        position: relative;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .login_popup.modal .modal-lg {
        margin: 0px auto !important;
        width: 85% !important;
        max-width: 85% !important;
    }
    .right_box {
        margin-left: 20px;
        margin-right: 20px;
    }
    .otp_heading {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 30px;
    }
    .select_grade_box {
        grid-template-columns: repeat(4,1fr);
    }
    .exam_change_class{
        font-size: 18px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .login_popup.modal .modal-lg {
        width: 80% !important;
        max-width: 80% !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {

    /* .login_popup.modal .modal-lg {
        width: 90% !important;
        max-width: 90% !important;
    } */

}