.modal-header {
    border: none !important;
}
.slt_grbtn {
    border: 1px solid #4879A3;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    color: #4879A3;
  }
  .slt_grbtn.active {
    background: #0675A3;
    color: #FFFFFF;
  }
  .select_gradegrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 15px;
    margin-bottom: 12px;
  }