/* styles.css (or your CSS/SCSS file) */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f1f2f6;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* first section css */

.books-first-sec-container {
  height: 100vh;
  background-color: #fff;
  /* padding-bottom: 61px; */
  display: flex;
  justify-content: center;
}
.books-first-sec-container2 {
}

.books-first-sec-box1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.books-first-sec-books {
  display: flex;
  flex-direction: column;
  gap: 55px;
  justify-content: center;
  width: 100%;
  z-index: 0;
  margin-bottom: 20px;
}
.books-first-sec-left-arrow-box {
  display: none;
}
.books-first-sec-left-arrow {
  height: 32px;
  width: 32px;
  background-color: #fff;
  border-radius: 8px;
}
.books-first-sec-image-box {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.books-first-sec-image-box-mob {
  position: relative;
  /* left: 20px; */
  /* top: 56px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border-radius: 20px;
  background-color: #e6f2ff;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 20px;
  margin-left: 20px;
}
.books-arrow-container {
  display: flex;
  flex-direction: column;
  gap: 55px;
  justify-content: center;
  /* width: 100%; */
}
.books-back-arrow {
  display: flex;
  position: relative;
  bottom: 4rem;
  left: 1rem;
  width: 40px;
  height: 40px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 56px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.09);
}
.books-back-arrow2 {
  display: flex;
  position: relative;
  bottom: 12rem;
  /* left: 1rem; */
  width: 32px;
  height: 32px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 56px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.09);
}
.books-right-arrow {
  display: flex;
  width: 38px;
  height: 38px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 56px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.09);
  /* position: relative;
  bottom: 4rem; */
}
.books-first-sec-mob-bar {
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}
.books-first-sec-mob-bar-text {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}
.books-first-sec-mob-bar-base {
  display: flex;
  flex-direction: row;
  width: 93.5px;
  /* background-color: #000; */
  /* opacity: 0.1; */
  border-radius: 4px;
}
.books-first-sec-whats-box {
  display: none;
}
.books-first-sec-see-now {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #007bff;
  font-size: 12px;
  font-weight: 500;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 4px;
}
.books-first-sec-button-box {
  display: none;
}
.books-first-sec-download-btn {
  display: flex;
  width: 100%;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--neutral-40, #9c9fa1);
  box-shadow: 0px 7px 7px 0px rgba(0, 123, 255, 0.12);
}
.books-first-sec-download-btn-text {
  color: #080e14;
  font-size: 16px;
  font-weight: 600;
}
.books-first-sec-buy-now-btn {
  display: flex;
  width: 100%;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--primary-60, #007bff);
  box-shadow: 0px 7px 7px 0px rgba(0, 123, 255, 0.12);
}
.books-first-sec-buy-now-btn-text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.books-first-sec-box2 {
  /* flex-direction: column; */
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.books-first-sec-box2-head {
  width: auto;
  color: #080e14;
  font-size: 32px;
  margin-right: 20px;
  margin-left: 20px;
}
.books-first-sec-box2-btns {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /* padding: 62px 12px; */
  width: 375px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(154, 160, 211, 0.3);
}
.books-first-sec-box2-book-now {
  display: flex;
  width: 80%;
  padding: 12px 62px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background-color: #007bff;
}
.books-first-sec-box2-download {
  display: flex;
  width: 100%;
  /* padding: 8px 62px; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  /* background-color: #007BFF; */
}
.books-first-sec-box2-ratings {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  gap: 8px;
  width: auto;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}
.books-first-sec-box2-ratings {
  font-size: 14px;
  color: #080e14;
  font-weight: 600;
}
.books-first-sec-box2-ratings-text {
  color: #080e14;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.books-first-sec-package {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 25.5px;
  width: auto;
  gap: 12px;
}
.books-first-sec-package-box1 {
  display: flex;
  width: 100%;
  height: 86px;
  justify-content: space-between;
  align-items: start;
  padding: 8px 14px;
  border-radius: 12px;
  /* background-color: #fff; */
  /* border: 2px solid; */
  /* border-radius: 12px; */
  border: 1px solid var(--neutral-40, #9c9fa1);
  background: var(--background-02, #fff);
}
.books-first-sec-package-box1:hover {
  border-color: #007bff;
}
.books-first-sec-package-class-text {
  color: #080e14;
  font-size: 14px;
}
.books-first-sec-package-box2 {
  width: 100%;
  position: relative;
  top: 14px;
  height: 86px;
  display: flex;
  justify-content: space-between;
  padding: 8px 14px;
  border-radius: 12px;
  border: 1px solid var(--neutral-40, #9c9fa1);
  background: var(--background-02, #fff);
}
.books-first-sec-package-box2:hover {
  border-color: #007bff;
}
.books-first-sec-list {
  display: none;
}
.books-first-sec-list-text {
  padding: 8px 16px;
  color: #080e14;
  font-size: 14px;
  font-weight: 500;
}
.books-first-sec-blue-circle {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: #007bff;
}
.books-first-sec-checklist-box {
  display: none;
}
.books-first-sec-test-series {
  background-color: #00364e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 40px;
}
.books-first-sec-test-series-text-box {
  width: 880px;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: center;
  height: 144px;
}
.books-first-sec-test-series-content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}
.books-first-sec-test-series-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #007BFF;
  border-radius: 12px;
  padding: 12px 34px;
}
.books-first-sec-test-series-btn-text{
  color: #fff;
  font-size: 16px;
}

@media (min-width: 640px) {
  .books-first-sec-container2 {
    display: flex;
    flex-direction: column;
    margin-right: 112px;
    margin-left: 112px;
    gap: 40px;
    padding-top: 28px;
  }
  .books-first-sec-books {
    flex-direction: row;
    height: 510px;
    background-color: #d4e9ff;
    border-radius: 20px;
  }
  .books-first-sec-left-arrow-box {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
  }
  .books-first-sec-image-box {
    left: 8px;
    overflow: hidden;
  }
  .books-first-sec-image-box-mob {
    display: none;
  }
  .books-first-sec-mob-bar {
    display: none;
  }
  .books-first-sec-whats-box {
    width: 588px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    flex-direction: row;
    gap: 20px;
  }
  .books-first-sec-button-box {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 30px;
  }
  .books-first-sec-box2 {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-width: 410px;
    width: auto;
    justify-content: start;
    align-items: start;
  }
  .books-first-sec-box2-head {
    font-size: 48px;
  }
  .books-first-sec-box2-btns {
    display: none;
  }
  .books-first-sec-box2-ratings {
    font-size: 18px;
  }
  .books-first-sec-box2-star {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .books-first-sec-box2-ratings-text {
    font-size: 14px;
  }
  .books-first-sec-package {
    margin-left: 12px;
  }
  .books-first-sec-package-box1 {
    width: 188px;
    height: 134px;
    flex-direction: column;
    gap: 10px;
  }
  .books-first-sec-package-box2 {
    width: 188px;
    height: 118px;
    flex-direction: column;
    align-items: start;
  }
  .books-first-sec-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 588px;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 12px;
    background-color: #f1f2f6;
    padding-right: 12px;
    padding-left: 12px;
  }
  .books-first-sec-checklist-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 32px;
  }
  .books-first-sec-package-box3 {
    width: 188px;
    position: relative;
    top: 14px;
    height: 118px;
    display: flex;
    justify-content: space-between;
    padding: 8px 14px;
    border-radius: 12px;
    border: 1px solid var(--neutral-40, #9c9fa1);
    background: var(--background-02, #fff);
  }
  .books-first-sec-container3 {
    display: none;
  }
  .books-first-sec-test-series {
    height: 472px;
  }
  .books-first-sec-test-series-content-box {
    width: 806px;
    flex-direction: row;
  }
  .books-first-sec-test-series-text-box-mob{
    display: none;
  }
  .books-first-sec-test-series-checklist{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .books-first-sec-test-series-btn{
    padding-right: 64px;
    padding-left: 64px;
  }
 
}
@media (min-width: 1024px) {
  .books-first-sec-container2 {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .books-first-sec-container {
    height: auto;
  }
  .books-first-sec-container2 {
    width: auto;
  }
  .books-first-sec-box1 {
    background: #e6f2ff;
    min-height: 446px;
  }
  .books-first-sec-image-box {
    display: none;
  }
  .books-first-sec-box2 {
    margin-top: 26px;
    margin-bottom: 32px;
  }
  .books-first-sec-box2-head {
    font-size: 20px;
    width: 335px;
    /* justify-content: start; */
    margin-left: 20px;
    margin-right: 20px;
  }
  .books-first-sec-box2-ratings {
    display: none;
  }
  .books-first-sec-package {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
  .books-first-sec-package-box1 {
    /* margin-left: 20px; */
    /* margin-right: 20px; */
  }
  .books-first-sec-package-box2 {
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    height: auto;
    top: 0;
  }
  .books-first-sec-package-box3 {
    display: none;
  }
  .books-first-sec-container3 {
    background-color: #f1f2f6;
    height: auto;
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }
  .books-first-sec-books-name-box {
    display: flex;
    flex-direction: column;
  }
  .books-first-sec-books-names {
    display: flex;
    width: 335px;
    padding: 0px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    border-top: 1px solid var(--primary-30, #99caff);
    background: #cee2ff;
  }
  .books-first-sec-books-name {
    display: flex;
    width: 93px;
    padding: 8px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    color: var(--neutral-100, #080e14);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
  }
  .books-first-sec-books-checklist1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .books-first-sec-books-checklist2 {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .books-first-sec-books-whats-in-box {
    height: 132px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 16px;
    display: flex;
    flex-direction: row;
  }
  .books-first-sec-books-whats-in-box-text {
    font-size: 20px;
    color: #fff;
  }
  .books-first-sec-books-whats-see {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    background-color: #007bff;
    width: auto;
    border-radius: 12px;
  }
  .books-first-sec-test-series {
    height: 332px;
    gap: 32px;
  }
  .books-first-sec-test-series-text-box {
    /* width: 335px; */
    display: none;
  }
  .books-first-sec-test-series-text-box-mob{
    width: 335px;
  }
  .books-first-sec-test-series-content-box {
    gap: 32px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .books-first-sec-test-series-checklist{
    display: none;
  }
}
