.landing-exam-main {
    width: 100%; 
    color: #EFEFEF;
    background: #007BFF;
    margin-top: 5.3rem;
}

.landing-exam-class {
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    background-color: #007BFF;
    z-index: 9999;
}

.landing-exam-carousel {
    display: flex; 
    overflow-x: scroll; 
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-top: 2rem;
    padding-bottom: 2rem; 
    padding-bottom: 1rem; 
    gap: 1rem; 
    scroll-snap-type: x var(--tw-scroll-snap-strictness); 
}

.landing-exam-carousel-index-container {
    display: flex; 
    justify-content: center; 
}

.landing-exam-carousel-index {
    margin-left: 0.25rem;
    margin-right: 0.25rem; 
    border-radius: 9999px; 
    height: 0.25rem; 
}
.landing-exam-carousel-index.active {
    width: 2.5rem; 
    background-color: #ffffff;
}
.landing-exam-carousel-index.inactive {
    width: 1.5rem; 
    background: #76B8FF;
}
.landing-exam-padding {
    padding-top: 0;
    padding-bottom: 0; 
}
.landing-exam-head {
    padding-left: 1rem;
    padding-right: 1rem; 
    margin-top: 2rem;
    margin-bottom: 2rem; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    color: #ffffff;     
}
.landing-exam-yellow {
    color: #FCDE5A;
}
.landing-exam-desc{
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    color: #D7D7D7;
}
.landing-exam-desc-high {
    font-weight: 700; 
    color: #ffffff; 
}
.landing-exam-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap: 1rem; 
    align-items: center; 
}
.landing-exam-points {
    display: flex; 
    padding-left: 1rem;
    padding-right: 1rem; 
    flex-direction: column; 
    order: 9999; 
    font-weight: 600; 
    background-color: #ffffff; 
    color: #080E14;    
}
.landing-exam-point {
    display: flex; 
    margin-top: 1rem; 
    gap: 0.75rem; 
    align-items: center;     
}
.lg-only {
    display: none;
}
.landing-exam-buttons {
    display: flex; 
    padding-left: 2rem;
    padding-right: 2rem; 
    margin-top: 1.5rem; 
    flex-direction: column; 
    gap: 1rem;     
}
.landing-exam-start{
    display: flex; 
    order: 9999; 
    gap: 0.5rem; 
    align-items: center; 
}
.landing-exam-book-free {
    display: flex; 
    gap: 0.5rem; 
    align-items: center;
}
.landing-exam-details {
    display: flex; 
    padding-top: 1rem; 
    margin-bottom: 1rem; 
    gap: 0.5rem; 
    justify-content: center; 
    font-weight: 600; 
    background-color: #ffffff; 
    cursor: pointer; 
    color: #007BFF;
}
.landing-exam-card-main {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: 2rem; 
    border-radius: 1rem; 
    border-width: 1px; 
    color: #ffffff; 
    min-width: 25rem;
    scroll-snap-align: center; 
    border-color: #FCDE5A;
    border-width: 4px;
}
.landing-exam-card-details {
    display: flex; 
    padding: 1rem; 
    flex-direction: column; 
    gap: 0.25rem; 
    justify-content: flex-end; 
}
.landing-exam-card-name {
    font-size: 1.875rem;
    line-height: 2.25rem; 
    font-weight: 700; 
}
.landing-exam-card-button {
    display: flex; 
    gap: 0.5rem; 
    align-items: center; 
}
.landing-exam-card-image {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) { 
    .landing-exam-main {
        margin-top: 0;
    }
}

@media (min-width: 1024px) { 
    .landing-exam-class {
        display: none;
    }
    .landing-exam-carousel-index {
        margin-left: 0.5rem;
        margin-right: 0.5rem;         
    }
    .landing-exam-carousel-index.active {
        width: 4rem; 
    }
    .landing-exam-carousel-index.inactive {
        width: 2.5rem; 
    }
    .landing-exam-padding {
        padding-top: 2rem;
        padding-bottom: 2rem;         
    }
    .landing-exam-head {
        padding-left: 9rem;
        padding-right: 9rem; 
        font-size: 4.5rem;
        line-height: 1;         
    }
    .landing-exam-desc {
        padding-left: 9rem;
        padding-right: 9rem;
    }
    .landing-exam-desc-high {
        font-weight: 400; 
        color: #FCDE5A;
    }
    .landing-exam-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
    .landing-exam-points {
        padding-left: 9rem;
        padding-right: 9rem; 
        order: 0; 
        background-color: transparent; 
        color: #efefef;        
    }
    .lg-only {
        display: block;
    }
    .lg-not {
        display: none!important;
    }
    .landing-exam-buttons {
        padding-left: 5rem;
        padding-right: 5rem; 
        margin-top: 0;         
    }
    .landing-exam-start {
        order: 0;
    }
    .landing-exam-details{
        margin-bottom: 0; 
        color: #ffffff; 
        background-color: transparent; 
    }
    .landing-exam-card-details {
        padding: 3rem; 
        gap: 1rem; 
    }
    .landing-exam-card-main {
        min-width: 50rem;
    }
    .landing-exam-card-name {
        font-size: 2.25rem;
        line-height: 2.5rem; 
    }
}