.RS {
  align-items: center;
}
.nls {
  display: flex;
  margin-left: 10px;
  margin-top: 2.25rem;
}
.carous {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-width: 380px;
  top: 1rem;
}
/* .card4 { */
.cardVideo {
  display: flex;
  flex-shrink: 0;
  border-radius: 1rem;
  flex-direction: column;
  padding-left: 12px /* 8px */;
  padding-right: 12px /* 8px */;

  background-color: white;
  color: #080e14;
  align-items: center;
  justify-content: space-evenly;
  max-width: 392px;
  height: 365px;
  /* margin-top: 1.5rem ;
  margin-bottom: 1.5rem ; */
}
.cardVideo-name {
  color: #080e14;
  font-size: 16px;

  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}
.cardVideo-place {
  color: #080e14;
  font-size: 13px;

  font-weight: 500;
  text-transform: lowercase;
  line-height: 18px;
  word-wrap: break-word;
}
.cardVideo-course {
  color: #ff7a00;
  font-size: 13px;

  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
}
.cardVideo-review {
  color: #52565b;
  font-size: 16px;

  font-weight: 500;
  text-transform: lowercase;
  line-height: 24px;
  word-wrap: break-word;
  text-align: start;
}
.cardNormal {
  display: flex;
  background-color: white;
  color: #080e14;
  margin-bottom: 3rem;
  max-width: 392px;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 1.25rem /* 20px */;
  padding-right: 1.25rem;
  height: 365px;
  border-radius: 1rem;
  /* margin-top: 1.5rem;
  margin-bottom: 1.5rem; */
  flex-shrink: 0;
}
.cardNormal-review {
  color: #52565b;
  font-size: 18px;

  font-weight: 500;
  text-transform: lowercase;
  line-height: 27px;
  word-wrap: break-word;
}
.cardNormal-name {
  color: #080e14;
  font-size: 22px;

  font-weight: 700;
  line-height: 33px;
  word-wrap: break-word;
}
.cardNormal-place {
  color: #080e14;
  font-size: 18px;

  font-weight: 500;
  text-transform: lowercase;
  line-height: 27px;
  word-wrap: break-word;
}
.cardNormal-course {
  color: #ff7a00;
  font-size: 18px;

  font-weight: 500;
  line-height: 27px;
  word-wrap: break-word;
}
/* } */
.cardVideo:hover {
  cursor: pointer;
}
.cardNormal:hover {
  cursor: pointer;
}
.image-container {
  position: relative;
  width: 365px;
  height: 161px;
  overflow: hidden;
}

/* Background image (video) */
.image-container .background-image {
  width: 100%;
  height: 100%;
  display: block;
}

/* Play button logo centered on the background image */
.image-container .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 52px;
  opacity: 0.75;
}
.Reviews {
}
.nlss {
  background-color: #00364e;
  width: 100%;
  padding-left: 7rem;
  padding-right: 7rem;
  margin-bottom: 32px;
}
.rev {
  display: flex;
  position: relative;
  top: 2.5rem;
}
.carouss {
  overflow: hidden;
  width: 100vw;
  position: relative;
  .carouss-item {
    display: flex;
    gap: 2rem;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 1000ms;
  }
}
.cardNormal-head {
  gap: 20px;
}

.fifthSection {
  margin-bottom: 10rem;
  height: 782px;
  width: 100%;
  width: 100%;
  background-color: #00364e;
}
.fsh {
  display: flex;
  padding-left: 7rem /* 112px */;
  padding-right: 7rem;
  padding-top: 167px;
  padding-bottom: 164px;
  width: 50%;
  font-weight: 700;
  font-size: 32px;
  flex-direction: column;
  height: max-content;
  justify-content: space-between;
}
.fshc {
  font-size: 64px;

  font-weight: 700;
  text-transform: lowercase;
  line-height: 75px;
  word-wrap: break-word;
}
@media (max-width: 320px) {
  smallS {
    width: 300px;
  }
  card {
    left: 250px;
  }
}

@media (max-width: 1024px) {
  .nlss {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media not all and (min-width: 480px) {
  .Reviews {
    display: none;
  }
}
@media (min-width: 480px) {
  .RS {
    display: none;
  }
}
@media not all and (min-width: 1280px) {
  .fsh {
    padding: 6rem;
    padding-bottom: 6rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .nls {
    margin-bottom: 40px;
  }
  .fifthSection {
    height: 371px;
  }
  .image-container {
    width: 292px;
  }
  .cardNormal-head {
    gap: 10px;
  }
  .fifthSection {
  }
  .fsh {
    padding-bottom: 4rem;

    padding-left: 1.25rem /* 20px */;
    padding-right: 1.25rem;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: start;

    white-space: nowrap;
  }
  .image-tomp {
    display: none;
  }

  .cardVideo {
    height: 371px;
    width: 316px;
    justify-content: space-evenly;

    padding-bottom: 1.25rem;
  }
  .cardVideo-review {
    color: #52565b;
    font-size: 12px;

    font-weight: 500;
    text-transform: lowercase;
    line-height: 18px;
    word-wrap: break-word;
    /* margin-top: 2px; */
    padding-left: 0.95rem /* 12px */;
    padding-right: 0.95rem;
  }
  .cardVideo-name,
  .cardNormal-name {
    color: #080e14;
    font-size: 16px !important;

    font-weight: 600;
    line-height: 24px !important;
    word-wrap: break-word;
  }
  .cardVideo-place,
  .cardNormal-place {
    color: #080e14;
    font-size: 13px !important;

    font-weight: 500;
    text-transform: capitalize;
    line-height: 18px !important;
    word-wrap: break-word;
    margin-bottom: 20px;
  }
  .cardVideo-course,
  .cardNormal-course {
    color: #ff7a00;
    font-size: 13px !important;

    font-weight: 500;
    line-height: 18px !important;
    word-wrap: break-word;
  }
  .cardNormal {
    height: 371px;
    width: 316px;
    justify-content: space-evenly;

    padding-left: 1rem /* 16px */;
    padding-right: 1rem;
    /* padding-bottom: 55px;
    padding-top: 33px; */
  }
  .cardNormal-review {
    font-size: 14px;

    font-weight: 500;
    text-transform: lowercase;
    line-height: 21px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 576px) {
  .fifthSection {
    height: 371px;
  }
  .image-tomp {
    display: none;
  }

  .fsh {
    padding-bottom: 4rem;

    padding-left: 1.25rem /* 20px */;
    padding-right: 1.25rem;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: start;

    white-space: nowrap;
  }
  .nlss {
    padding: auto 2rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .fifthSection {
    height: 540px;
  }
  .fsh {
    padding-bottom: 4rem;

    padding-left: 1.5rem /* 20px */;
    padding-right: 1.25rem;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 0px;
    text-align: start;
  }
  .fshc {
    font-size: 36px !important;

    line-height: 42px !important;
  }
  .nlss {
    padding: auto 2rem !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fshc {
    font-size: 36px !important;

    line-height: 42px !important;
  }

  .fifthSection {
    height: 560px;
  }
  .fsh {
    padding-bottom: 4rem;

    padding-left: 3.5rem /* 20px */;
    padding-right: 1.25rem;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 0px;
    text-align: start;

    white-space: nowrap;
  }
  .nlss {
    padding: auto 2rem !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .fshc {
    font-size: 48px !important;

    line-height: 58px !important;
  }

  .fifthSection {
    height: 700px;
  }
  .fsh {
    padding-bottom: 4rem;

    padding-left: 4.5rem /* 20px */;
    padding-right: 1.25rem;
    /* width: 100%; */
    padding-top: 40px;
    padding-bottom: 0px;
    text-align: start;

    white-space: nowrap;
  }
  .nlss {
    padding: auto 2rem !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .nlss {
    padding: auto 2rem !important;
  }
}
@media (max-width: 768px) {
  .nlss {
    padding-left: 1.5rem /* 24px */;
    padding-right: 1.5rem;
    margin-top: 3rem;
  }
  .carouss-item {
    gap: 70px;
    padding-left: 1.25rem /* 20px */;
    padding-right: 1.25rem;
  }
  .rev {
    height: 100%;
    top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fs {
  }
  .fshc {
    font-size: 32px !important;

    line-height: 38px !important;
  }
  .carouss {
    overflow-x: auto;
  }
}
@media (max-width: 340px) {
  .RS {
    width: 320px;
  }
  .carous {
    width: 316px !important;
  }
  .fsh {
    padding-left: 0.5rem !important;
  }
  .fshc {
    font-size: 24px !important;
  }
  .carouss {
  }
  .carousal-inner {
  }
}
