.eigthSection {
  width: 100%;
  height: 100%;
  padding-left: 111px;
  padding-right: 111px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}
.eh-1 {
  color: #007bff;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 60px;
  word-wrap: break-word;
}
.eh-2 {
  color: #080e14;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 60px;
  word-wrap: break-word;
}
.eh-3 {
  color: #52565b;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}
.eh-p1 {
  width: 100%;
  color: #52565b;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}
.e-sp {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  display: inline-flex;
}
.eh-4 {
  color: #52565b;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}
.eh-p2 {
  width: max-content;
  color: #52565b;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}
.e-points {
  color: #52565b;
  font-size: 16px;
  /* font-family: Poppins; */
  /* font-weight: 400; */
  line-height: 28px;
  word-wrap: break-word;
}
