.study-main {
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-top: 2rem;
    padding-bottom: 2rem; 
    width: 100%; 
    background-color: #ffffff; 
}
.study-head {
    margin-bottom: 2rem; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    color: #080E14;
}
.blue {
    color: #007BFF;
}
.study-grid {
    display: grid;
    padding-left: 0;
    padding-right: 0; 
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: 1rem; 
}
.study-card {
    padding: 2rem; 
    border-radius: 1rem; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 700; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    transition-duration: 300ms; 
    cursor: pointer; 
    background: #D4E9FF;
}
.study-card:hover {
    background: #C4E0FF;
    box-shadow: 0px 4px 15px 0px #007BFF40;
}
.study-card-img {
    margin-bottom: 1rem; 
    width: 3.5rem;
}
.study-view-all {
    display: flex; 
    margin-top: 2rem; 
    justify-content: center; 
    gap: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 600; 
    text-align: center; 
    cursor: pointer; 
    color: #007BFF;
}

@media (min-width: 1024px) {
    .study-main {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem; 
        padding-left: 2.5rem;
        padding-right: 2.5rem; 
    }
    .study-head {
        text-align: center; 
    }
    .study-grid {
        padding-left: 14rem;
        padding-right: 14rem; 
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
    .study-card {
        font-size: 1.5rem;
        line-height: 2rem; 
    }
    .study-card-img {
        margin-bottom: 2rem; 
        width: 5rem;
    }
}