/* Global Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins');
/* div::-webkit-scrollbar {
  display: none;
} */

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Global Styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
  /* overflow: hidden; */
  overflow-x: hidden;
}

@media screen and (max-width: 1023px) {
  :root {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  width: 100%;
  /* overflow: hidden; */
  /* overflow-y: hidden; */
}
.card:hover .card-text {
  color: white;
}

a {
  color: black;
  text-decoration: none;
}
@layer utilities {
  .bg-apple {
    background-image: url("/apple1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Custom Component Styles */
@layer components {
  .dash-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .poppins {
    font-family: "Poppins", sans-serif;
  }

  .dash {
    transition: width 1s;
  }

  .auto_scroll_top {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 1.2rem;
  }

  .box_auto {
    display: inline-block;
    min-width: 300px;
    height: 200px;
    background-color: orange;
    border-radius: 10px;
    margin: 0 5px;
    font-size: 150px;
    text-align: center;
  }
}
.aspect-ratio {
  background: url("/sixthSec1.svg") no-repeat center center/cover;
  padding-top: calc(736 / 414 * 100%);
  position: relative;
}

/* Custom Utility Styles */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .animation-move-up {
    animation: moveUp 1s ease-in-out;
  }
}

/* Custom Keyframes & Animations */
@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes resetScroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.my-image,
.my-image-5,
.my-image-4,
.my-image-footer,
.my-image-6 {
  width: auto;
  height: auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.badge {
  width: 56px;
  height: 56px;
  display: block;
  margin: 10% auto;
}

.verified-badge {
  fill: none;
  stroke: #4188e4;
  stroke-width: 4;
  background: radial-gradient(circle at center, #c0dffd, #4188e4);
}
/* .verified-badge {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: linear-gradient(45deg, #67b6e5, #9dd6fb);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-left: 10px; 
} */

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #0e70d8;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #0e70d8;
  }
}
@layer components {
  .verified-text {
    @apply text-xl font-bold opacity-0 whitespace-nowrap overflow-hidden;
  }

  .animate-slide {
    @apply opacity-100 transition-all duration-1000;
    animation: slideIn 1s forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%) translateY(-50%);
    }
    100% {
      transform: translateX(0) translateY(-50%);
    }
  }
}
.animate-slide {
  transition: transform 0.3s ease-out; /* Adjust timing as desired */
}
.word-entering,
.word-exiting {
  position: relative;
}
.optionContainer {
  display: flex;
  min-height: 300px; /* Adjust as per your requirement */
}
.word-entering {
  animation: slideIn 1s forwards;
}

.word-exiting {
  animation: slideOut 1s forwards;
}

.word {
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
