@media (max-width: 320px) {
  .sixthsection {
    padding-top: 120px;
  }
  .lff {
    width: 280px;
    height: 42px;
  }
  .text-ss {
    font-size: 28px;
  }
  .text-c {
    padding-left: 0;
    padding-right: 0;
  }
}
.text-c {
  font-size: 64px;
  font-family: Poppins;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 75px;
  word-wrap: break-word;
}
@media max {
}
img,
video {
  max-width: 100%;
  height: auto;
}
