
.session_popup.modal .modal-lg  {
    width: 1000px !important;
    max-width: 1100px !important;
}
.session_popup.modal .modal-header {
    border: none !important;
}
/* .session_session{
    max-height: 450px;
    overflow-y: auto;

}
.session_session::-webkit-scrollbar {
    width: 5px;
    display: none;
  } */
  .session_popup.modal .modal-header .btn-close {
    opacity: 1 !important;
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat !important;
}
  .session_heading{
    margin-top: 50px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 900;
    text-transform: lowercase;
    color: #080E14;
  }
  .session_label{
    font-weight: 700;
    font-size: 16px;
    color:#080E14;
    margin-bottom: 10px;
  }
  .date_selection_box {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}
.date_selection_box::-webkit-scrollbar {
    width: 5px;
    display: none;
  }
.date_selection_btn {
    border: 1px solid #9C9FA1;
    border-radius: 12px;
    padding: 12px 10px 12px 10px;
    display: inline-block;
    width: 65px;
    height: 75px;
    color: #000000;
    text-align: center;
    margin-right: 10px;
    text-align: center;
    text-transform: lowercase;
}
.date_selection_btn.active{
    border: 1px solid #06AA2F;
    background: #D6F4DE;
}
.date_day {
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}
.day_month {
    font-weight: 500;
    font-size: 14px;
    color: #52565B;
    margin-top: 5px;
}
.time_selection_box {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}
.time_selection_box::-webkit-scrollbar {
    width: 5px;
    display: none;
  }
.time_selection_btn {
    display: inline-block;
    border: 1px solid #9C9FA1;
    border-radius: 12px;
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-right: 10px;
}
.time_selection_btn.active{
    border: 1px solid #06AA2F;
    background: #D6F4DE;
}
.relation_list {
    border: 1px solid #9C9FA1;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #080E14;
}
.padding_none{
    padding: 0px;
}
.relation_list_check {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.relation_list.active {
    border: 1px solid #06AA2F;
    background: #D6F4DE;
}
.relation_list_check.active{
    background: #06AA2F;
}
.session_success_heading {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #080E14;
    margin-top: 30px;
}
.session_success_text {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #52565B;
    padding: 10px 50px 0px 50px;
}
.session_success_card {
    border-radius: 12px;
    background: #D4E9FF;
    margin-top: 15px;
    padding: 15px;
}
.session_success_card_list li{
    margin-bottom: 15px;
}
.sscIcon {
    display: inline-block;
    width: 24px;
    margin-right: 20px;
}
.sscText {
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    text-transform: lowercase;
}
.sscb_text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #52565B;
    line-height: 24px;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.sscb_span{
    font-weight: 700;
    color: #080E14;
}
.bss_button_row{
    display: block;
    margin-top: 20px;
}
.UNFAPP-form-fld-row {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  
  .UNFAPP-form-fld-row>.UNFAPP-form-field-title {
    width: 100%;
    display: inline-block;
    padding: 0px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 500;
    color: #324452;
  }
  
  .UNFAPP-form-fld-wrp {
    position: relative;
    margin: 0px 0px 25px 0px;
  }
  .UNFAPP-form-fld {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    background: rgba(250, 250, 250, 1);
    border: 1px solid #007BFF;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  .device_list_box {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3,1fr);
}
.device_lists {
    border-radius: 20px;
    border: 1px solid #9C9FA1;
    text-align: center;
    justify-content: center;
    display: inherit;
    align-items: center;
    padding: 10px;
}
.device_Icon_text {
    font-weight: 600;
    color: #000000;
    margin-top: 5px;
}
.device_lists.active{
    border: 1px solid #06AA2F;
    background: #D6F4DE;
}
.session_description {
    font-weight: 400;
    font-size: 14px;
    color: #52565B;
    line-height: 18px;
    margin-top: 20px;
}
.more_textarea {
    border-radius: 20px;
    border: 1px solid #9C9FA1;
    padding: 12px 10px 24px 16px;
}
.skip_button {
    width: 100%;
    color: #000000;
    background: #ffffff;
    border-radius: 12px;
    padding: 12px;
    border: 1px solid #9C9FA1;
    margin-top: 15px;
    color: #080E14;
    font-size: 14px;
    font-weight: 600;
}

.progress-bar {
    width: 100%;
    background-color: #ccc;
    height: 20px;
    position: relative;
  }
  .session_progress{
    padding-top: 20px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    min-width: auto !important;
    width: auto !important;
    height: auto;
  }

  .session_progress .steps_bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}
.session_progress .step {
    width: 30px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1em;
    background-color: #e8e8e8;
    font-weight: 500;
    color: grey;
    position: relative;
}
.session_progress .step.complete {
    background-color: #007BFF;
    color: #fff;
}
.session_progress .step.active {
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #007BFF;
}
.session_progress .step_sep {
    height: 2px;
    width: 162px;
    background-color: #007BFF;
}
.step.complete .step_sep {
    background-color: #007BFF;
}
.session_progress .step_desc {
    content: "Verify OTP";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 6px);
    font-size: 12px;
    color: grey;
    white-space: nowrap;
}
.session_progress .step.active .step_desc {
    color: #000;
    font-weight: 700;
}
.session_progress_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.session_skip{
    margin-top: 100px;
}
.session_progress .mob_steps_flex{
    display: none;
}
.session_progress .mob_step_sep {
    height: 3px;
    width: 100px;
    background-color: #007BFF;
    opacity: 0.5;
    margin-left: 10px;
}
.session_progress .mob_step_sep.active {
    opacity: 1;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .session_popup.modal .modal-lg  {
        width: 100% !important;
        max-width: 100% !important;
    }
    .session_popup.modal .modal-body{
        padding: 0px;
    }
    .right_box {
        margin-left: 30px;
        margin-right: 30px;
    }
    .session_popup.modal .modal-dialog {
        transform: none;
        margin: 0px;
        margin-left: auto;
        height: 100%;
        align-items: stretch !important;
        border: none;
    }
    .session_heading {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 30px;
    }

    .session_popup.modal .modal-content {
        border: none !important;
        overflow: auto;
        border-radius: 0px !important;
    }
    .date_selection_btn {
        display: inline-block;
        padding: 12px 8px 12px 8px;
        font-weight: 500;
        font-size: 14px;
        margin-right: 10px;
    }
    .date_selection_btn.active{
        border: 2px solid #007BFF;
        background:#E6F2FF;
    }
    .time_selection_btn {
        padding: 12px 8px 12px 8px;
        font-weight: 500;
        font-size: 14px;
        margin-right: 10px;
    }
    .time_selection_btn.active{
        border: 2px solid #007BFF;
        background:#E6F2FF;
    }
    .relation_list.active {
        border: 2px solid #007BFF;
        background:#E6F2FF;
    }
    .relation_list_check.active{
        background: #007BFF;
    }
    .device_lists.active{
        border: 1px solid #007BFF;
        background:#E6F2FF; 
    }
    .session_progress .step {
        width: 20px;
        height: 16px;
        font-size: 12px;
    }
    .session_progress .step_desc {
        font-size: 10px;
    }
    .IL_scac_tests_grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .session_progress .steps_bar {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        max-width: 85%;
        margin: 0 auto;
    }
    .bss_button_row{
        display: none !important;
    }
    .session_skip{
        margin-top: 80px;
    }
    .steps_mob_d_done{
        display: none !important;
    }
    .session_progress .mob_steps_flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 481px) and (max-width: 576px) {
    .session_popup.modal .modal-lg  {
        width: 100% !important;
        max-width: 100% !important;
    }
    .session_popup.modal .modal-body{
        padding: 0px;
    }
    .right_box {
        margin-left: 30px;
        margin-right: 30px;
    }
    .session_popup.modal .modal-dialog {
        transform: none;
        margin: 0px;
        margin-left: auto;
        height: 100%;
        align-items: stretch !important;
        border: none;
    }

    .session_popup.modal .modal-content {
        border: none !important;
        overflow: auto;
        border-radius: 0px !important;
    }
    .session_heading {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 30px;
    }
    .date_selection_btn {
        display: inline-block;
        padding: 12px 8px 12px 8px;
        font-weight: 500;
        font-size: 14px;
        margin-right: 10px;
    }
    .date_selection_btn.active{
        border: 2px solid #007BFF;
        background:#E6F2FF;
    }
    .time_selection_btn {
        padding: 12px 8px 12px 8px;
        font-weight: 500;
        font-size: 14px;
        margin-right: 10px;
    }
    .time_selection_btn.active{
        border: 2px solid #007BFF;
        background:#E6F2FF;
    }
    .relation_list.active {
        border: 2px solid #007BFF;
        background:#E6F2FF;
    }
    .relation_list_check.active{
        background: #007BFF;
    }
    .device_lists.active{
        border: 1px solid #007BFF;
        background:#E6F2FF; 
    }
    .bss_button_row{
        display: none !important;
    }
    .session_skip{
        margin-top: 80px;
    }
    .steps_mob_d_done{
        display: none !important;
    }
    .session_progress .mob_steps_flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 577px) and (max-width: 766px) {
    .session_popup.modal .modal-lg {
        margin: 0px auto !important;
        width: 60% !important;
        max-width: 60% !important;
    }
    .right_box {
        margin-left: 30px;
        margin-right: 30px;
    }
    .button_mobile_none{
        display: block !important;
        position: relative;
        bottom: 0;
        width: 100%;
    }
    .session_heading {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 30px;
    }
    .date_selection_btn {
        display: inline-block;
        padding: 12px 8px 12px 8px;
        font-weight: 500;
        font-size: 14px;
        margin-right: 10px;
    }
    .date_selection_btn.active{
        border: 2px solid #007BFF;
        background:#E6F2FF;
    }
    .time_selection_btn {
        padding: 12px 8px 12px 8px;
        font-weight: 500;
        font-size: 14px;
        margin-right: 10px;
    }
    .time_selection_btn.active{
        border: 2px solid #007BFF;
        background:#E6F2FF;
    }
    .relation_list.active {
        border: 2px solid #007BFF;
        background:#E6F2FF;
    }
    .relation_list_check.active{
        background: #007BFF;
    }
    .device_lists.active{
        border: 1px solid #007BFF;
        background:#E6F2FF; 
    }
    .session_skip{
        margin-top: 80px;
    }
    .steps_mob_d_done{
        display: none !important;
    }
    .session_progress .mob_steps_flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .session_popup.modal .modal-lg {
        margin: 0px auto !important;
        width: 85% !important;
        max-width: 85% !important;
    }
    .right_box {
        margin-left: 20px;
        margin-right: 20px;
    }
    .session_heading {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .session_popup.modal .modal-lg {
        width: 80% !important;
        max-width: 80% !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {

    /* .session_popup.modal .modal-lg {
        width: 90% !important;
        max-width: 90% !important;
    } */

}