.school-main {
    display: grid;
    padding: 1rem; 
    padding-top: 2rem;
    padding-bottom: 2rem; 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap: 2.5rem; 
    justify-content: center; 
    width: 100%; 
    background: #D4E9FF;
    color: #080E14;
}
.school-head-m {
    font-size: 2.25rem;
    line-height: 2.5rem; 
    font-weight: 700; 
}
.blue {
    color: #007BFF;
}
.school-img-div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.school-img {
    aspect-ratio: 1/1;
}
.school-right {
    display: flex; 
    flex-direction: column; 
    gap: 2.5rem; 
}
.school-head {
    display: none; 
    font-size: 2.25rem;
    line-height: 2.5rem; 
    font-weight: 700; 
}
.school-pts {
    display: flex; 
    display: none; 
    flex-direction: column; 
    gap: 1rem; 
}
.school-pt {
    display: flex; 
    gap: 0.5rem; 
}
.school-btn-wrapper {
    align-self: stretch; 
}
.school-btn-arrow {
    margin-left: 0.5rem;
}

@media (min-width: 1024px) {
    .school-main {
        padding: 4rem; 
        padding-top: 4rem;
        padding-bottom: 4rem; 
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
    .school-head-m {
        display: none; 
        font-size: 3rem;
        line-height: 1; 
    }
    .school-img-div {
        justify-content: flex-end; 
    }
    .school-head {
        display: block; 
        font-size: 3rem;
        line-height: 1; 
    }
    .school-pts {
        display: flex; 
    }
    .school-pt-text {
        font-size: 1.125rem;
        line-height: 1.75rem; 
    }
    .school-btn-wrapper {
        align-self: flex-start;
    }
}