.books-main {
    padding: 0; 
    padding-top: 0;
    padding-bottom: 0; 
    padding-bottom: 0; 
    background-color: #ffffff; 
}
.books-head {
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-top: 2rem; 
    font-size: 2.25rem;
    line-height: 2.5rem; 
    font-weight: 700; 
    text-align: center; 
    color: #080E14;
    background: #D4E9FF;
}
.blue {
    color: #007BFF;
}
.books-flex {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}
.books-book {
    padding-left: 3rem;
    padding-right: 3rem; 
    background: #D4E9FF;
}
.lg-only {
    display: none;
}
.books-btns {
    display: none; 
    margin-top: 1rem; 
    gap: 1rem; 
    justify-content: center; 
}
.w-auto {
    width: auto;
}
.books-text-main {
    display: flex; 
    padding: 1rem; 
    padding-top: 2rem;
    padding-bottom: 2rem; 
    flex-direction: column; 
    gap: 0.5rem; 
    justify-content: space-evenly; 
    border-radius: 1.5rem; 
    background: #FEF8DE80;
}
.books-text-title {
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 
}
.books-no-1 {
    font-size: 1rem;
    line-height: 1.5rem; 
    font-weight: 400; 
    color: #6B6E72;
}
.books-no-2 {
    display: none; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    color: #6B6E72;
}
.books-price-text {
    display: flex; 
    gap: 0.25rem; 
    align-items: flex-end; 
}
.books-price-text-1 {
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 700; 
    color: #007BFF;
}
.books-price-text-2{
    font-size: 1rem;
    line-height: 1.5rem; 
    font-weight: 700; 
    color: #322C12;
}
.books-price-text-3 {
    font-weight: 600; 
    text-decoration: line-through; 
    color: #52565B;
}
.books-special {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 700; 
    color: #FF7A00;
}
.books-special-more {
    font-weight: 400; 
    color: #52565B;
}
.books-pts {
    display: flex; 
    margin-top: 1rem;
    margin-bottom: 1rem; 
    margin-bottom: 2.5rem; 
    flex-direction: column; 
    gap: 1rem; 
    color: #52565B;
}
.books-pt {
    display: flex; 
    gap: 0.5rem; 
}
.books-btn {
    width: 100%; 
}

@media (min-width: 1024px) {
    .books-main {
        padding: 2.5rem; 
        padding-top: 5rem;
        padding-bottom: 5rem; 
        padding-bottom: 20rem;
    }
    .books-head {
        padding: 0; 
        font-size: 3rem;
        line-height: 1; 
        background-color: #ffffff; 
    }
    .books-flex {
        margin-top: 5rem; 
        flex-direction: row; 
        gap: 5rem; 
    }
    .books-book {
        background-color: #ffffff; 
    }
    .lg-only {
        display: block;
    }
    .lg-not {
        display: none;
    }
    .books-btns {
        display: flex; 
    }
    .books-text-main {
        padding: 1.5rem; 
        padding-top: 1.5rem;
        padding-bottom: 1.5rem; 
        background: #F0F3FF;
    }
    .books-text-title {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    .books-no-1 {
        display: none;
    }
    .books-no-2 {
        display: block;
    }
    .books-price-text-1 {
        font-size: 1.875rem;
        line-height: 2.25rem; 
    }
    .books-price-text-2 {
        font-size: 1.125rem;
        line-height: 1.75rem; 
    }
    .books-pts {
        margin-bottom: 1rem; 
    }
    .books-pt {
        font-size: 1.125rem;
        line-height: 1.75rem; 
    }
    .books-btn {
        width: auto; 
    }
}