.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll-container {
  display: flex;
  overflow-x: auto;
}
.scrollContainer {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.spacer {
  flex-shrink: 0;
  width: 500px; /* Adjust according to your design */
}
