@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.poppins {
  font-family: "Poppins", sans-serif;
}
/* firstSection.css */

/* ... Your existing CSS ... */

/* Media query for screens between 312px and 480px */
/* .stats {
  display: flex;
  margin-top: 10px;
  margin-bottom: 6px;
  max-width: 100%;
  max-height: 24px;
  padding: 6px;
  justify-content: space-evenly;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  gap: 3px;
  margin: 0 auto;
  align-items: center;
  height: 20px;
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
  color: #007bff;
}

.stats-div1 {
  display: flex;
  flex-direction: column;
  --tw-border-opacity: 0.2;
}

.stats > div > div:first-child {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}

.stats > div > div:last-child {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.stats > .border-r-2 {
  border-right: 2px solid #007bff;
  opacity: 0.2;
  height: 100%;
}

.stats > div > div:last-child > div {
  margin-right: 1px;
*/
@media only screen and (min-width: 312px) and (max-width: 480px) {
}

@media (max-width: 768px) {
  .head-text,
  .head-text-modified {
    font-size: 44px;
    padding-left: 20px;
    font-size: 44px;

    line-height: 50px;
    word-wrap: break-word;
  }
}
.row > div {
  padding-left: 0px !important /* your desired value here */;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
row {
  padding-left: 0px !important /* your desired value here */;
  padding-right: 0px !important;
}
@media (min-width: 768px) {
  .Input {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-size: 16px;
  }
} /* For the max-md breakpoint (assuming it's 768px for this example): */
@media (max-width: 320px) {
  .firstSection {
    gap: 0;
    padding-top: 53px;
  }
  .head-text,
  .head-text-modified {
    font-size: 30px;
    line-height: 36px;
    padding-left: 20px;
    /* font-size: ; */
  }
  .inputSec {
    width: fit-content;
    padding-left: 2px;
    padding-right: 2px;
    /* height: 32px; */
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
}
@media only screen and (min-width: 481px) and (max-width: 576px) {
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sliding-container {
    width: max-content;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1440px) {
  .stat {
    width: 1010px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .stats {
    width: 1010px;
  }
}
