.mc-main {
    padding: 1rem; 
    padding-top: 2rem;
    padding-bottom: 2rem; 
    background-color: #ffffff; 
}
.mc-head {
    display: none; 
    padding-left: 14rem;
    padding-right: 14rem; 
    margin-bottom: 2.5rem; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    text-align: center; 
    color: #080E14;
}
.blue {
    color: #007BFF;
}
.mc-head-m {
    margin-bottom: 1.5rem; 
    font-size: 2.25rem;
    line-height: 2.5rem; 
    font-weight: 800; 
    color: #080E14;
}
.mc-pts {
    display: grid; 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap: 1rem; 
}
.mc-pt {
    display: flex; 
    gap: 1rem; 
    align-items: center; 
    text-align: center; 
    color: #52565B;
}
.mc-pt-border {
    border-color: #99CAFF;
    border-width: 0px 1px 0px 0px;
}
.mc-pt-img {
    width: 1.5rem;
}
.mc-live {
    display: flex; 
    overflow-x: auto; 
    padding: 1rem; 
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; 
    gap: 1rem; 
    align-items: stretch; 
    margin-left: -1rem;
}
.mc-live-1 {
    display: flex; 
    align-items: stretch; 
}
.mc-subhead {
    margin-top: 1rem; 
    font-size: 2.25rem;
    line-height: 2.5rem; 
    font-weight: 700; 
    color: #080E14;
}
.mc-videos {
    display: none; 
}
.mc-tabs-wrapper {
    display: flex; 
    gap: 1rem; 
    justify-content: space-between; 
}
.mc-btns-wrapper {
    display: none; 
    gap: 0.5rem; 
    align-self: center; 
}
.w-auto {
    width: auto;
}
.mc-cards {
    display: flex; 
    overflow-x: auto; 
    padding: 1rem; 
    gap: 1rem; 
    margin-left: -1rem;
}
.mc-most-viewed {
    display: flex; 
    margin-bottom: 1rem; 
    margin-top: 3rem; 
    justify-content: space-between; 
    font-size: 2.25rem;
    line-height: 2.5rem; 
    font-weight: 700; 
    color: #080E14;
}
.mc-btn-wrapper {
    display: none; 
    margin-top: 2rem; 
    text-align: center; 
}
.mc-btn {
    width: 100%;
}
.mcc-main {
    display: grid;
    padding: 0.75rem; 
    gap: 1rem; 
    border-radius: 0.75rem; 
    box-shadow: 0px 4px 15px 0px #007BFF40;
    min-width: 22rem;
}
.mcc-main-full {
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    width: 100%; 
}
.mcc-main-notfull {
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    width: auto; 
}
.relative {
    position: relative;
}
.w-full {
    width: 100%;
}
.mcc-play {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 2rem;
    transform: translate(-50%, -50%);
}
.mcc-live-wrapper {
    display: flex; 
    position: absolute; 
    top: 0.5rem; 
    right: 0.5rem; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    gap: 0.5rem; 
    align-items: center; 
    border-radius: 0.375rem; 
    background: #FF0001;
}
.mcc-live-text {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #ffffff; 
}
.mcc-img {
    display: flex; 
    position: absolute; 
    left: 0; 
    top: 0.5rem; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 1rem; 
    gap: 0.5rem; 
    align-items: center; 
}
.mcc-text {
    display: flex; 
    flex-direction: column; 
    gap: 0.75rem; 
    align-items: flex-start; 
}
.mcc-sub {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    border-radius: 0.375rem; 
    border-width: 1px; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #FF6B00;
    background: #FFE4CC;
    border-color: #FF7A00;
}
.mcc-title {
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 700; 
}
.mcc-desc {
    display: none; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    color: #52565B;
}
.mcc-started {
    color: #007BFF;
}
.mcc-time {
    color: #52565B;
}
.mcc-hl {
    margin-bottom: 0.5rem; 
    width: 100%; 
    height: 1px;
    background: #6DC6E1;
}
.mcc-by {
    display: flex; 
    gap: 0.5rem; 
    align-items: center; 
}
.mcc-bold {
    font-weight: bold;
}

@media (min-width: 1024px) {
    .mc-main {
        padding: 2.5rem; 
        padding-top: 2.5rem;
        padding-bottom: 2.5rem; 
    }
    .mc-head {
        display: block; 
    }
    .mc-head-m {
        display: none; 
    }
    .mc-pts {
        padding-left: 12rem;
        padding-right: 12rem; 
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
        gap: 0; 
    }
    .mc-pt {
        padding-left: 2.5rem;
        padding-right: 2.5rem; 
        flex-direction: column; 
    }
    .mc-pt-img {
        width: 2rem;
    }
    .mc-live {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
    .mc-live-1 {
        display: block; 
        grid-column: span 3 / span 3; 
    }
    .mc-videos {
        display: inline; 
    }
    .mc-btns-wrapper {
        display: flex;
    }
    .mc-cards {
        overflow: hidden; 
    }
    .mc-btn-wrapper {
        display: block;
    }
    .mc-btn {
        width: auto;
    }
    .mcc-main {
        padding: 1rem; 
        min-width: calc(33% - 0.25rem);
    }
    .mcc-main-full {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
    .mcc-live-wrapper {
        top: 1rem; 
        right: 1rem; 
    }
    .mcc-img {
        top: 1rem; 
    }
    .mcc-title-full {
        font-size: 2.25rem;
        line-height: 2.5rem; 
    }
    .mcc-desc {
        display: block; 
    }
    .mcc-started-full {
        font-size: 1.25rem;
        line-height: 1.75rem; 
    }
    .mcc-by-full {
        font-size: 1.125rem;
        line-height: 1.75rem; 
    }
}